@import '../../../styles/mixin';
@import '../../../styles/_vars';
.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	row-gap: 30px;
	padding-top: 31px;
}
.card {
	position: relative;
	max-width: calc(15%);
	overflow: hidden;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	background: $white;
	-webkit-box-shadow: 0px 14px 48px -15px rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 0px 14px 48px -15px rgba(0, 0, 0, 0.18);
	box-shadow: 0px 14px 48px -15px rgba(0, 0, 0, 0.18);
	padding-bottom: 10px;
	&_rating {
		position: absolute;
		top: 0;
		left: 10px;
		z-index: 2;
	}
	&_image {
		position: relative;
		width: 100%;
		height: 270px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.18);
		}
	}
	&_content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 7px;
		min-height: 100px;
	}
	&_name {
		display: flex;
		flex-direction: column;
		gap: 7px;
		font-weight: bold;
		font-style: normal;
		padding: 0 5px;
		& span {
			font-size: 12px;
			font-weight: 300;
			line-height: 15px;
		}
	}
	&_action {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 2px;
		& button {
			cursor: pointer;
			&:last-child {
				font-size: 14px;
			}
		}
	}
}
.title {
	display: flex;
	flex-direction: column;
	gap: 3px;
}
