@import '../../styles/mixin';
@import '../../styles/_vars';
.select {
	position: relative;
	cursor: pointer;
	user-select: none;
	@include numberFont;

	&_placeholder {
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.03);
		padding: 6px 10px;
		border-radius: 3px;
		& span {
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	&_list {
		display: flex;
		flex-direction: column;
		gap: 4px;
		position: absolute;
		width: 100%;
		top: 120%;
		padding: 10px 12px;
		background: $white;
		box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.03);
		border-radius: 3px;
		z-index: 3;
	}
	&_item {
		font-size: 13px;
		font-weight: 400;
		padding: 5px 10px;
		border-radius: 3px;
		text-transform: capitalize;
		cursor: pointer;
		transition: background 0.2s ease;
		&:hover {
			background: $grey-extended;
		}
	}
}
