@import '../../styles/mixin';
@import '../../styles/_vars';

.rating {
	display: flex;
	align-items: center;
	gap: 12px;
	@include numberFont;
	font-weight: bold;
	& span {
		font-size: 14px;
		font-weight: 400;
		color: $white;
	}
}
.moon {
	& span {
		color: #23de63 !important;
		font-weight: bold;
		display: block;
	}
}
