@import '../../../styles/_mixins';
@import '../../../styles/_vars';
.navbar {
	position: sticky;
	top: 0;
	background: $mainBlack;
	padding: 15px 0;
	z-index: 200;
	&_wrapp {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 95%;
		width: 100%;
		margin: 0 auto;
		padding-left: 5px;
		padding-right: 5px;
	}
	&_main {
		display: flex;
		align-items: center;
		gap: 80px;
	}
	&_search {
		position: relative;
		display: flex;
		max-width: 40%;
		width: 100%;
		align-items: center;
		padding: 16px 15px;
		background: $secondBlack;
		color: $grey;
		border-radius: 5px;
		& input {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: transparent;
			border: none;
			color: $white;
			font-family: inherit;
			padding-left: 12px;
			z-index: 3;
			&:focus,
			&:not(:invalid) {
				outline: none;
				& + div {
					span {
						opacity: 0;
					}
					svg {
						transform: translateX(3100%);
					}
				}
			}
		}
		& > div {
			display: flex;
			align-items: center;
			gap: 13px;
			span {
				transition: opacity 0.3s ease;
				font-size: 14px;
			}
			svg {
				cursor: pointer;
				transition: transform 0.3s ease;
			}
		}
	}
	&_action {
		display: flex;
		align-items: center;
		gap: 20px;
		max-width: 30%;
		width: 100%;
		padding: 14px 0 14px 14px;
		background: $secondBlack;
		border-radius: 5px;
		& button {
			background: none;
			border: none;
			margin: 0;
			padding: 0;
			cursor: pointer;
		}
	}
}
.menu {
	display: flex;
	align-items: center;
	gap: 7px;
	cursor: pointer;
	&_item {
		display: flex;
		flex-direction: column;
		gap: 3px;
		& span {
			display: block;
			width: 16px;
			height: 1px;
			background: $grey;
			transition: transform 0.3s ease;
			border-radius: 3px;
		}
	}
	&.active {
		& .menu_item {
			& span {
				&:nth-child(1) {
					transform: translate(0px, 5px) rotate(45deg);
				}
				&:nth-child(2) {
					transform: scaleX(0);
					transform-origin: center;
				}
				&:nth-child(3) {
					transform: translate(0px, -5px) rotate(-45deg);
				}
			}
		}
	}
	& span {
		color: $grey;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		padding-top: 2px;
	}
}
@import './Navbar.media.module.scss';
