@import '../../../styles/_mixins';
@import '../../../styles/_vars';
.movie {
	display: flex;
	align-items: center;
	gap: 12px;
	padding-top: 30px;
	&_jenre {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 5px;
		position: absolute;
		top: 12%;
		left: 10%;
		font-size: 14px;
		font-weight: 300;
	}
	&_content {
		position: relative;
		max-width: 60%;
		color: $white;
		&__description {
			position: absolute;
			bottom: 0;
			padding-left: 32px;
			padding-bottom: 27px;
			& h2 {
				font-size: 30px;
				font-weight: bold;
				margin-top: 7px;
				margin-bottom: 32px;
			}
			& span {
				font-size: 16px;
				font-weight: 400;
			}
		}
	}
	&_image {
		position: relative;
		width: 100%;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&_trailer {
		position: relative;
		max-width: 35%;
		width: 100%;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&__btn {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 12px;
			color: $white;
		}
	}
}
